//
//
//
//
// ====================================================================================
.header {
    z-index: 9999;
}


// ====================================================================================
.main-header {
    box-shadow: 0px 4px 39.6px 0px #0000001A;

}
.main-header__body {
    padding: 24px 0px;
    display: flex;
    align-items: center;
}
.main-header__logo {
    margin: 0px 105px 0px 0px;
}
.main-header__menu {
    flex: auto;
    display: flex;
}
.main-header__menu-item {
    margin: 0px 46px 0px 0px;
    &:last-child {
        margin: 0;
    }
}
.main-header__menu-link {
    font-family: $family_Montserrat;
    font-size: 17px;
    color: $color_292929;
    transition: 0.3s all;
    &:hover {
        color: $color_F4D07B;
    }
}
.main-header__phone {
    display: flex;
    align-items: center;
    &:hover {
        .main-header__phone-link {
            color: $color_F4D07B;
            border-bottom: 1px dashed $color_F4D07B;
        }
    }
}
.main-header__phone-img {
    margin: 0px 10px 0px 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $color_F4D07B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header__phone-link {
    padding: 0px 0px 2px 0px;
    border-bottom: 1px dashed $color_292929;
    font-family: $family_Montserrat;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color_292929;
    transition: 0.3s all;
}
.main-header__burger {
    display: none;
}
.burger__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $color_F4D07B;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span {
        width: 20px;
        height: 3px;
        background: $color_273953;
        position: relative;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: $color_273953;
        }
        &::before {
            top: -6px;
        }
        &::after {
            bottom: -6px;
        }
    }
}
.phone-header__menu {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
}
.phone-header__menu-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.phone-header__menu-fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color_F3F4F4;
    opacity: 0.5;
    z-index: -1;
    &.active {
        display: block;
    }
}
.phone-header__menu-content {
    padding: 0px 30px;
    width: 400px;
    background: $color_273953;
}
.phone-header__menu-exit {
    padding: 30px 0px 50px 0px;
    display: flex;
    justify-content: end;
}
.phone-header__exit-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: $color_F4D07B;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            transform: rotate(90deg);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color_F4D07B;
        }
    }
}
.phone-header__menu-list {
    padding: 0px 0px;
    width: 100%;
}
.phone-header__menu-item {
    margin: 0px 0px 20px;
}
.phone-header__menu-link {
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: end;
    font-family: $family_Montserrat;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: $color_F4D07B;
}
@media(max-width: 1100px) {
    .main-header__logo {
        margin: 0;
        flex: auto;
    }
    .main-header__menu {
        display: none;
    }
    .main-header__phone {
        margin: 0px 20px 0px 0px;
        display: inline-block;
    }
    .main-header__phone-img {
        margin: 0px;
        width: 40px;
        height: 40px;
        img {
            width: 15px;
        }
    }
    .main-header__phone-link {
        display: none;
    }
    .main-header__burger {
        display: block;
    }
    .phone-header__menu {
        display: block;
        transition: right 0.5s;
        &.active {
            right: 0;
        }
    }
}
@media(max-width: 550px) {
    .phone-header__menu-content {
        width: 100%;
    }
}