//
//
//
//
// <Подключаем шрифт к Google fonts>===================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
// </Подключаем шрифт к Google fonts>==================================================


// <Настройка переменых>===============================================================
$container: 1216px;
$colorWhite: #fff;
$colorBlack: #000;
$family_Montserrat: Montserrat;
$color_292929: #292929;
$color_F5F5F5: #F5F5F5;
$color_273953: #273953;
$color_F4D07B: #F4D07B;
$color_909090: #909090;
$color_454545: #454545;
$color_F3F4F4: #F3F4F4;
$color_939393: #939393;
$color_A4A4A4: #A4A4A4;
$color_838383: #838383;
// </Настройка переменых>==============================================================


// <Оболочка>==========================================================================
.wrapper {
    margin: 0px 0px 0px 0px;
    padding: 100px 0px 0px 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
// </Оболочка>=========================================================================


// <Настройка основная сетка>==========================================================
.container {
    padding: 0px 0px;
    width: $container;
    margin: auto;
    @media (max-width: 1270px) {
        padding: 0px 30px;
        width: 100%;
    }
    @media (max-width: 990px) {
        padding: 0px 20px;
    }
    @media (max-width: 660px) {
        padding: 0px 10px;
    }
}
// </Настройка основная сетка>=========================================================


// <Настройка основной контент>========================================================
.body {
    &.no-scroll {
        overflow: hidden;
    }
}
.main {
    flex: 1 1 auto;
}
// </Настройка основной контент>=======================================================


// <Подключение стилистика>============================================================
// <Подключаем обнуления>==============================================================
@import "_zeroing";
// </Подключаем обнуления>=============================================================

// <Подключаем header>=================================================================
@import "_header";
// </Подключаем header>================================================================

// <Подключаем прочие стилистика>======================================================
@import '_logo';
@import '_slick';
@import '_modal';
@import '_magic_forms';
@import 'template/_home';
@import 'template/_about';
@import 'template/_services';
@import 'template/_contact';
// </Подключаем настройка стилистика>==================================================

// <Подключаем footer>=================================================================
@import '_footer';
// </Подключаем footer>================================================================
// </Подключение стилистика>===========================================================